body {
  background-color: #1e2329 !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #cdd9e5;
}

p {
  color: #909dab;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  /* background: #282c34; */
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #282c34;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
