body {
  background-color: #1e2329 !important;
  font-family: "Lexend Deca", sans-serif !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #cdd9e5;
}

p {
  color: #909dab;
}

.selected {
  color: #ffffff !important;
}

.custom-link {
  color: #8c8c8c;
}

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  /* background: #282c34; */
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #333842;
  border-radius: 25px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #3e4450;
  border-radius: 25px;
}
