body {
  background-color: #222127 !important;
  font-family: "Lexend Deca", sans-serif !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #fdfdfd;
}

p {
  color: #d4d4d4;
}

.selected {
  color: #fdfdfd !important;
}
.realm {
  color: #d4d4d4;
  font-size: 12px !important;
}

.custom-link {
  color: #a6a6a8;
}

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  /* background: #282c34; */
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #333842;
  border-radius: 25px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #3e4450;
  border-radius: 25px;
}

.but {
  background-color: #4e7cff !important;
}

.logo {
  background: rgb(170, 53, 253);
  background: linear-gradient(50deg, rgba(170, 53, 253, 1) 0%, rgba(32, 119, 250, 1) 100%);
}
